@model IEnumerable<EmpresaSolutions.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="get" action="@Url.Action("Index")">
    <p>
        Buscar: <input type="text" name="searchString" />
        <input type="submit" value="Buscar" />
    </p>
</form>

<p>
    <a asp-action="ExportToExcel">Exportar a Excel</a>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlagModificado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlagModificado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CargoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CargoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
